<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Login Page </title>
	<link rel="stylesheet" href="css/login.css">
</head>

<body>

	<img src="images/burgershop.webp"
		style="position: absolute; width: 1440px; height: 700px; left: 0px; top: 0px; filter: blur(5px);">

	<div class="form-container">
		<h1 style="position: absolute; left: 115px;"> Sign In</h1>

		<form th:action="@{loggedin}" method="post">

			<div class="textbox1">
				<label for="email">Email </label>
				<input type="email" id="email" name="email" placeholder="Enter your email" required>
			</div>

			<div class="textbox2">
				<label for="password">Password</label>
				<input type="password" id="password" name="password" placeholder="Enter your password" required>
			</div>


			<div class="pass">
				<a href="resetpass"> Fergot Password ? </a>
			</div>

			<button type="submit" class="btn">Sign In</button>

		</form>

	</div>




</body>

</html>